/* cpcbasic css */
body {
	background-color: Beige;
}

.flexBox {
	float: left;
	padding: 2px;
	margin: 2px;
	background-color: LightGrey;
}

.clearLeft {
	clear: left;
}

.legendButton {
	border: 1px solid #7A7A7A;
	background-color: LightGreen;
	padding: 1px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* currently Chrome and Opera */
}

.legendButton:hover {
	background-color: LimeGreen
}

.label {
	background-color: WhiteSmoke;
	float: left;
	width: 4em;
	margin-right: 0.2em;
	text-align: right;
	padding: 0px 2px 0px 2px;
	overflow: hidden;
	display: block;
}

.area {
	padding: 2px;
	margin: 1px;
	border: 0.5px solid #7A7A7A;
	float: left;
}

.field {
	padding: 2px 2px 2px 2px;
	float: left;
}

.editable {
	background-color: white;
}

.invalid {
	border-color: red;
}

.selectWrap select { 
	max-width: calc(22em - 6px);
	text-overflow: ellipsis;
}

.kbdArea {
	/* width: max-content; */
	width: auto;
    white-space: nowrap;
	user-select: none;
}

.kbdFloatRight {
	float: right;
	/* width: 1em; */
}

.kbdButton, .kbdButton1, .kbdButton2, .kbdButton3, .kbdButton4 , .kbdButtonSpace {
	min-width: 2.4em;
	min-height: 2em;
	cursor: pointer;	
}

.kbdButton1 {
	width: 2.4em;
	overflow: hidden;
}

.kbdButton2 {
	width: calc(2.4em*1.5);
}

.kbdButton3 {
	width: calc(2.4em*2);
}

.kbdButton4 {
	width: calc(2.4em*2.5);
}

.kbdButtonSpace {
	width: calc(2.4em*9.5);
}
