/* cpcbasic css */
body {
	background-color: Beige;
}

.flexBox {
	float: left;
	padding: 2px;
	margin: 2px;
	background-color: LightGrey;
	/* font-size: 2em; */ /* Test */
}

.clearLeft {
	clear: left;
}

.canvas {
	width: 640px;
	height: 400px;
	background-color: blue;
}

@media (max-width: 480px) {
	.canvas {
		width: 330px;
	}
}

.legendButton {
	border: 1px solid #7A7A7A;
	background-color: LightGreen;
	padding: 1px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* currently Chrome and Opera */
}

.legendButton:hover {
	background-color: LimeGreen
}

.label {
	background-color: WhiteSmoke;
	float: left;
	width: 4em;
	margin-right: 0.2em;
	text-align: right;
	padding: 0px 2px 0px 2px;
	overflow: hidden;
	display: block;
}

.area {
	padding: 2px;
	margin: 1px;
	border: 0.5px solid #7A7A7A;
	float: left;
}

.field {
	padding: 2px 2px 2px 2px;
	float: left;
}

.editable {
	background-color: white;
}

.invalid {
	border-color: red;
}


.leaflet-parking-icon {
	background: lightgray;
	border: 1px solid #666;
}

.leaflet-location-icon {
	background: lightblue;
	border: 1px solid #666;
}
