/* cpcbasic css */
body {
	background-color: Beige;
}

.flexBox {
	float: left;
	padding: 2px;
	margin: 2px;
	background-color: LightGrey;
}

.clearLeft {
	clear: left;
}

.legendButton {
	background-color: LightGreen;
}

.legendButton:hover {
	background-color: LimeGreen
}

.label {
	background-color: WhiteSmoke;
	float: left;
	width: 4em;
	margin-right: 0.2em;
	text-align: right;
	padding: 0px 2px 0px 2px;
	overflow: hidden;
	display: block;
}

.area {
	padding: 2px;
	margin: 1px;
	border: 0.5px solid #7A7A7A;
	float: left;
}

.field {
	padding: 2px 2px 2px 2px;
	float: left;
}

.editable {
	background-color: white;
}

.invalid {
	border-color: red;
}

.selectWrap select { 
	max-width: calc(22em - 6px);
	text-overflow: ellipsis;
}

.kbdArea {
	width: auto;
    white-space: nowrap;
	user-select: none;
}

.kbdButton, .kbdButton1, .kbdButton2, .kbdButton3, .kbdButton4 , .kbdButton5 {
	width: 2.5em;
	min-height: 2em;
	cursor: pointer;
	margin-right: 3px;
}

.kbdButton1 {
	overflow: hidden;
	padding-left: 4px;
}

.kbdButton2 {
	width: calc(2.5em*1.545);
}

.kbdButton3 {
	width: calc(2.5em*2.085);
}

.kbdButton4 {
	width: calc(2.5em*2.635);
}

.kbdButton5 {
	width: calc(2.5em*9.168);
}

.kbdNoRightMargin {
	margin-right: 0px;
}
